<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <nav class="page-header border-bottom" th:fragment="header">
      <div class="container-fluid p-1">    
        <a href="/clifwebui">
          <img src="/images/clif_48.png" width="42" height="42" alt="Clif logo">
        </a>
        <ul class="d-inline btn-toolbar float-right">
        <th:block th:if="${username!=null}">
          <ul class="btn-toolbar d-inline text-center">
            <!--li class="d-inline"><a href="#">Link1</a></li>
            <li class="d-inline"><a href="#">Link2</a></li-->
          </ul>
            <li class="d-inline"><th:block th:text="#{info.connectedas}"/> <th:block th:text="${username}"/></li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="d-inline">
            <button type="button" class="navbar-toggle btn btn-primary" href="/logout" th:href="@{#}" onclick="$('#form').submit();">
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;<th:block th:text="#{form.logout}"/> 
            <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
            </li>
        </th:block>
        <th:block th:if="${username==null}">          
            <li class="d-inline">
              <a href ="register"><button class="btn btn-primary" th:text="#{form.register}" ></button></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="d-inline">
              <a href ="login"><button class="btn btn-primary" th:text="#{form.login}"></button></a>
            </li>
             
        </th:block>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <img src="/images/SelectLightTheme.png" id="changeThemeImage" width="42" height="42" onclick="swapTheme(this)" alt="Change theme">

<script>

  var currentTheme = getCookie("theme");
  if(currentTheme=="dark"){
      swapStyleSheet("css/bootstrap-dark.min.css") 
      currentTheme="dark";
      document.getElementById("changeThemeImage").src="/images/SelectLightTheme.png";
  }else if(currentTheme=="light"){
      swapStyleSheet("css/bootstrap-light.min.css");
      currentTheme="light";
      document.getElementById("changeThemeImage").src="/images/SelectDarkTheme.png";
  }else{
      document.cookie = "theme=dark; expires=Thu, 01 Jan 2142 00:00:00 UTC; path=/;";
      currentTheme="dark";
  }
  
  function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
  }
  
  </script>
      </div>
    </nav>
  </body>
</html>