<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link id="pagestyle" rel="stylesheet"
	href="./css/bootstrap-dark.min.css">
<script src="js/jsLib/jquery.min.js"></script>
<script src="js/jsLib/bootstrap.min.js"></script>
<script src="js/jsLib/ace-builds/src-min-noconflict/ace.js"></script>
<script src="js/jsLib/js-yaml.min.js"></script>
<script src="js/yamlConverters.js"></script>
<script src="js/aceIntegration.js"></script>
<script src="js/clifwebui.js"></script>
<script src="js/copyPaste.js"></script>
<script src="js/assistant.js"></script>
<script src="js/aceContextMenu.js"></script>
<script src="js/cache.js"></script>
<script src="js/popup.js"></script>
<script src="js/aceModalMenu.js"></script>
<script src="js/aceModalHelp.js"></script>
<script src="js/autocompletion.js"></script>
<script src="js/jsLib/ace-builds/src-noconflict/ext-language_tools.js"></script>
<script src="js/aceFolding.js"></script>
<script src="js/handleCsv.js"></script>
<script src="js/formatEditor.js"></script>
<script src="js/sendElasticsearch.js"></script>
<script src="js/convertAceComment.js"></script>
<script src="js/acePropertiesMenu.js"></script>
<title>CLIF Web UI</title>

<link rel="icon" href="/favicon.ico">
<style>
.specificEditor {
	width: 100%;
	height: 100%;
}

#editorContent {
	width: 100%;
	height: 94%;
}

#switchEditorBar {
	display: inline-block;
	overflow: auto;
	width: 100%;
	margin-bottom: 5px;
}

#saveFileButton, #downloadFileButton {
	float: right;
}

#wrapper {
	position: absolute;
	width: 98%;
	height: 94%;
	color: #444;
	display: flex;
}

.displayFileNameButton {
	position: relative;
	padding: 0px;
	pointer-events: none;
	margin: 5px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #fff;
	color: #555;
	border: 1px solid #C6C6C6;
	min-width: 160px;
	box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
	font-family: sans-serif;
	font-size: 11px;
	z-index: 1;
	right: -100%;
	top: 0%;
}

.dropdown-contentCsv{
	display: none;
	position: relative;
	background-color: #fff;
	color: #555;
	border: 1px solid #C6C6C6;
	min-width: 400px;
	box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
	font-family: sans-serif;
	font-size: 13px;
	z-index: 10;
}
.dropdown-content label, input {
  color: black;
  margin: .4rem;
  
}
.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropdown-contentCsv {
	display: block;
}

#testIdInput {
	margin: 5px;
}

#editorContainers {
	box-sizing: border-box;
	flex: 7 1 auto;
}

#leftPanel {
	box-sizing: border-box;
	flex: 1 1 auto;
}

.filename div:hover {
	color: #ddd;
	background: #3879D9;
}

#handler {
	background-color: #303030;
	width: 10px;
	cursor: ew-resize;
	flex: 0 0 auto;
}

#NewProjectButton, #ImportProjectButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#handler:before {
	height: 100%;
}

#menu {
	position: fixed;
	z-index: 9999; /* Most times is 2000 used as middle */
	visibility: hidden;
	opacity: 0;
	padding: 0px;
	font-family: sans-serif;
	font-size: 11px;
	background: #fff;
	color: #555;
	border: 1px solid #C6C6C6;
	width: 150px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
	-moz-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
	box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
}

#menu a{
	display: block;
	color: #555;
	text-decoration: none;
	padding: 6px 8px 6px 30px;
	width: 113px;
	position: relative;
	box-sizing: content-box;
}

#menu a img, #contextMenuAceEditor a img, #contextMenuPropertiesEditor a img ,#menu a menu.fa, #contextMenuAceEditor a contextMenuAceEditor.fa
, #contextMenuPropertiesEditor a contextMenuPropertiesEditor.fa {
	height: 20px;
	font-size: 17px;
	width: 20px;
	position: absolute;
	left: 5px;
	top: 2px;
}

#menu a:hover, #contextMenuAceEditor a:hover, #contextMenuPropertiesEditor a:hover {
	color: #fff;
	background: #3879D9;
}

#menu hr, #contextMenuAceEditor hr, #contextMenuPropertiesEditor hr{
	border: 1px solid #EBEBEB;
	border-bottom: 0;
	margin: 1px
}

#message {
	left: 45%;
	position: fixed;
	color: white;
	background-color: #343434;
}

tr, td {
	border: 1px solid;
}

.disabledMenu {
	pointer-events: none;
	color: lightgray !important;
}

#collaboratorsTable, #collaboratorView {
	display: inline-block;
	text-align: center;
}

.modal-content, .modal, .modal-dialog {
	position: relative;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

#fileTreeContainer {
	margin: 5px;
}

.imageMenu {
	margin-right: 5px;
}
</style>


</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div id="wrapper">
		<div id="leftPanel">
			<div id="fileTreeContainer" style="height:100%">
				<ul id="ulFileTreeContainer" style="max-height: 90%; overflow-y: auto;">
					<th:block th:each="file : ${projects}">
						<li href="#" th:id="${file}"
							class="filename" ondrop="drop(event)"
							ondragover="allowDrop(event)">
							<div th:onclick="'javascript:developDirectory(this)'"
								isDir="true">
								<img alt="Project" src="/images/project.png" height="20"
									width="20" th:text="${file}" />
							</div>
						</li>
					</th:block>
				</ul>
			</div>
		</div>
		<div id="handler" class="bg-primary"></div>
		<div id="editorContainers">
			<div id="switchEditorBar">
				<button class="btn btn-primary btn-sm" hidden=true
					th:text="#{menu.save}" id="saveFileButton" onclick="thisSaveFile()"
					style="margin: 5px;" />
				<button class="btn btn-primary btn-sm" hidden=true
					th:text="#{menu.download}" id="downloadFileButton"
					onclick="thisDownloadFile()" style="margin: 5px;" />
			</div>
			<div id="editorContent" file="">
				<div class="text-body" id="deleteme" th:text="#{editor.begin}" />
			</div>
		</div>
	</div>
</body>

<div>
	<div id="menu">
		<div id="dropdownNew" class="dropdown">
			<a id="thisNewFileSubmenuButton" class="contextualMenu"
				data-toggle="modal">
				<div th:text="#{submenu.newfile}"></div>
				<img src="/images/new.gif" alt=""></img>
			</a>
			<div id="dropdownFile" class="dropdown-content">
				<a id="thisNewFileMenu" class="contextualMenu" data-toggle="modal"
					data-target="#modalFormCreate" onclick="initModalNewFile()">
					<div id="thisNewFile" value="" th:text="#{menu.newfile}">
					</div>
					<img class="imageMenu" src="/images/file.png" alt=""></img>
				</a> 
				<a id="thisNewCtpSubmenu" class="contextualMenu"
					data-toggle="modal" data-target="#modalFormCreate"
					onclick="initModalNewFile('ctp')">
					<div id="thisNewCtp" value="" th:text="#{submenu.newctp}"></div> 
					<img class="imageMenu" src="/images/ctp.gif" alt=""></img>
				</a> 
				<a id="thisNewXisSubmenu" class="contextualMenu"
					data-toggle="modal" data-target="#modalFormCreate"
					onclick="initModalNewFile('xis')">
					<div id="thisNewXis" value="" th:text="#{submenu.newxis}"></div> 
					<img class="imageMenu" src="/images/xis.png" alt=""></img>
				</a>
				<a id="thisNewCtpFromXisSubmenu" class="contextualMenu"
					data-toggle="modal" data-target="#modalFormCreate"
					onclick="initModalNewFile('ctp', true)">
					<div id="thisNewXis" value="" th:text="#{submenu.generateCtp}"></div> 
					<img class="imageMenu" src="/images/ctp.gif" alt=""></img>
				</a>
				<a id="thisNewDirectoryMenu" class="contextualMenu"	data-toggle="modal" data-target="#modalFormCreate" onclick="initModalNewDirectory()">
					<div id="thisNewDirectory" value="" th:text="#{menu.newdirectory}" />
					<img src="/images/directory.png" alt=""></img>
				</a>
				<a id="thisNewProjectMenu" class="contextualMenu" data-toggle="modal" data-target="#modalFormCreate" onclick="initModalNewProject()">
					<div id="thisNewDirectory" value="" th:text="#{menu.createProject}" />
					<img src="/images/project.png" alt=""></img>
				</a> 
			</div>
		</div>
		
		<div id="dropdownImport" class="dropdown">
			<a id="thisImportSubmenu" class="contextualMenu"
				data-toggle="modal">
				<div th:text="#{menu.import}"></div>
			</a>
			<div id="dropdownContentImport" class="dropdown-content">
				<a id="thisFileUploadMenu" class="contextualMenu" onclick="thisFileUpload()">
					<form id="importFile" method="POST" enctype="multipart/form-data"
						action="/storage">
						<div id="path" value="" th:text="#{menu.importfile}" />
						<input type="file" name="file" id="importFileButton"
						style="display: none;">
					</form>
				</a>
				<a id="thisImportProjectMenu" class="contextualMenu" data-toggle="modal" onclick="initModalImportProject()"
				 data-target="#modalFormProject">
				 	<div id="thisNewDirectory" value="" th:text="#{menu.importProject}"  />
					<img src="/images/project.png" alt=""></img>
				</a>
			</div>
		</div>
		<hr />
		<a id="thisDeleteMenu" class="contextualMenu" data-toggle="modal"
			data-target="#modalFormDelete" onclick="initModalDelete()">
			<div id="thisDelete" value="" th:text="#{menu.delete}" />
			<img src="/images/remove.png" alt=""></img>
		</a> 
		<a id="thisRenameMenu" class="contextualMenu" data-toggle="modal"
			data-target="#modalFormRename" onclick="initModalRename()">
			<div id="thisRename" value="" th:text="#{menu.rename}" />
			<img src="/images/rename.png" alt=""></img>
		</a> 
		<a id="thisExportMenu" class="contextualMenu"
			onclick="exportProject()">
			<div id="thisExport" value="" th:text="#{menu.export}" />
		</a>
		<a id="thisSendMenu" class="contextualMenu"
			onclick="checkIndexElasticSearch()">
			<div id="thisSendData" value="" th:text="#{menu.sendData}" />
		</a>
		<a id="thisDuplicateMenu" class="contextualMenu"
			onclick="initDuplicateFile()" data-toggle="modal" data-target="#modalFormCreate">
			<div id="thisDuplicate" value="" th:text="#{menu.duplicate}" />
		</a>
		<hr />
		<a id="propertiesMenu" data-toggle="modal"
			th:text="#{menu.properties}" data-target="#projectProperties"
			onclick="getProperties()" >
			<img src="/images/about.gif" alt=""></img>
		</a>
	</div>



	<!-- Modal Permission handler-->
	<div class="modal fade" id="projectProperties" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
		hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"
						th:text="#{project.properties}"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body row">
					<div id="collaboratorView" class="col-sm">
						<table id="collaboratorsTable" class="collaborators border col-sm">
							<h4 id="currentProject" th:text="#{no.current.project}" />
							<thead>
								<tr>
									<td th:text="#{user.username}"></td>
									<td th:text="#{user.permission}"></td>
									<td id="removeFromProject" hidden="true">delete</td>
								</tr>
							</thead>
							<tbody id="tableBody">

							</tbody>
						</table>
						<button id="validateChangePermission" class="btn btn-success"
							th:text="#{form.validate}" onclick="changePermissions()"
							hidden="true"></button>
					</div>
					<div id="addCollaborator" class="col-sm" hidden="true">
						<h4 th:text="#{add.collaborator}" />
						<div id="collaboratorForm" class="form-container">
							<div class=" form-popup">
								<div class="form-group">
									<label th:text="#{prompt.collaborator.name}"></label> <input
										id="collaboratorNameInput" class="form-control" type="text" />
								</div>

								<div class="form-group">
									<label th:text="#{prompt.collaborator.permission}"></label> <select
										class="form-control" id="collaboratorPermissionInput">
										<option th:text="#{permission.tester}" value="tester"></option>
										<option th:text="#{permission.editor}" value="editor"></option>
										<option th:text="#{permission.viewer}" value="viewer"></option>
										<option th:text="#{permission.admin}" value="admin"></option>
									</select>
								</div>
								<button id="changePermissions" hidden="true"
									class="btn btn-success" th:text="#{form.validate}"
									onclick="thisaddCollaborator()"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						onclick='void function(){document.getElementById("projectProperties").setAttribute("hidden")}'
						th:text="#{form.cancel}"></button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal delete file-->
	<div class="modal fade" id="modalFormDelete" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalFormDeleteTitle"
						th:text="#{prompt.delete}"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" th:text="#{form.cancel}"></button>
					<button type="button" class="btn btn-primary"
						onclick="thisDelete()" data-dismiss="modal"
						th:text="#{form.validate}"></button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal rename file-->
	<div class="modal fade" id="modalFormRename" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalFormRenameTitle"
						th:text="#{menu.rename}"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label th:text="#{prompt.rename}"></label> <input
							id="elementRename" class="form-control" type="text" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" th:text="#{form.cancel}"></button>
					<button type="button" class="btn btn-primary"
						id="modalRenameButton" onclick="thisRename()" data-dismiss="modal"
						th:text="#{form.validate}"></button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal create file/folder-->
	<div class="modal fade" id="modalFormCreate" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalFormCreateTitle"
						th:text="#{menu.newfile}"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label id="modalFormCreateLabel" th:text="#{prompt.newfile}"></label>
						<input id="elementCreateValue" value="" class="form-control" type="text" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" th:text="#{form.cancel}"></button>
					<button type="button" id="modalFormCreateValidate"
						class="btn btn-primary" data-dismiss="modal"
						th:text="#{form.validate}"></button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal import project-->
	<div class="modal fade" id="modalFormProject" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalFormProjectTitle"
						th:text="#{menu.importProject}"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modalImprotProjectBody">
					<div>
						<div id="dropContainer" class="bg-secondary"
							style="border: 1px solid black; height: 100px;"
							th:text="#{project.import.drop}" />
						<span th:text="#{or}" /> <br>
						<div id="buttonUploadProjectModal" value=''
							th:text="#{project.import.manually}" class="btn btn-primary"
							onclick="thisProjectUpload()" />
						<input type="file" name="file" id="projectImportButton"
							accept=".zip" style="display: none;"> <br>
						<div id="modalBodyImportProjectError" class="text-danger"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="uploadDroppedFile" th:text="#{action.import}"
						onclick="doUploadProject()" class="btn btn-success" disabled></button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" th:text="#{form.cancel}"></button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal test deployed-->
	<div class="modal fade" id="modalTestDeployed" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-centered mw-80 w-75" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTestDeployedTitle"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="bodyModalTest">
					<div id="testModalButtonBar">
						<button type="button" id="modalTestStart" class="btn btn-success"
							th:text="#{test.start}" onclick="thisStartTest()" disabled></button>
						<button type="button" id="modalTestPause" class="btn btn-warning"
							th:text="#{test.suspend}" onclick="thisPauseTest()" disabled></button>
						<button type="button" id="modalTestStop" class="btn btn-danger"
							th:text="#{test.stop}" onclick="thisStopTest()"></button>
							
					</div>
					<div id="testQuickstat">
   						<input type="checkbox" id="quickstatCheck" name="subscribe" checked>
    					<label id="quickstatCheckLabel" for="quickstatCheck"></label>
 					</div>

					<hr />
					<div class="form-group" id="modalFormInitTest">
						<label th:text="#{test.id.input}"></label> <input id="testIdInput"
							class="form-control" type="text" />
						<button type="button" id="modalTestInit" class="btn btn-success"
							th:text="#{test.init}" onclick="thisInitTest()"></button>
					</div>
					<div id="testModalResult"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal check server-->
	<div class="modal fade" id="modalTestCheckServer" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-centered mw-80 w-75" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalCheckServerTitle" th:text="#{server.title}"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modalBodyCheckServer">
					<div id="modalTableCheckServer">
						<div class="row">
							<div class="col">
								<label id="checkServerLabelExist" th:text="#{server.known}"></label>
							</div>
							<div class="col">
								<label id= "checkServerLabelMissing" th:text="#{server.missing}"></label>
							</div>
  						</div>
						<div class="row">
							<div class="col">
								<ul id= "modalCheckServerExistUl" style="text-align: left;">
								</ul>
							</div>
							<div class="col">
								<ul id= "modalCheckServerMissingUl" style="text-align: left;">
								</ul>
							</div>	
						</div>							
					</div>
					<label id="checkServerLegend" style="text-align: left;"></label>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" th:text="#{form.cancel}"></button>
					<button id="modalCheckServerRefresh" th:text="#{server.refresh}"
						onclick="checkRegistryServers()"  class="btn btn-primary"></button>
					<button id="modalCheckServerDeploy" th:text="#{server.deploy}"
						data-dismiss="modal" onclick="thisDeployTest()" class="btn btn-success"></button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal test not deployed-->
	<div class="modal modalCsv" id="modalTestDeployedFailed" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document" style="max-width:100%">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTestDeployedFailedTitle"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"
					style="white-space: break-spaces; text-align: left;"
					id="modalTestDeployedFailedContent"></div>
			</div>
		</div>
	</div>

</div>

<style>

#contextMenuAceEditor, #contextMenuPropertiesEditor {
	position: fixed;
	z-index: 2000; /* Most times is 2000 used as middle */
	visibility: hidden;
	opacity: 0;
	padding: 0px;
	font-family: sans-serif;
	font-size: 11px;
	background: #fff;
	color: #555;
	border: 1px solid #C6C6C6;
	width: 150px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
	-moz-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
	box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
}

#contextMenuAceEditor a, #contextMenuPropertiesEditor a {
	color: #555;
	text-decoration: none;
	padding: 6px 8px 6px 30px;
	width: 113px;
	position: relative;
	box-sizing: content-box;
}

.parent {
	position: relative;
	display: inline-block;
	float : right;
}

.parent a{
	display: inline-block;
}

.parent:hover >ul{
	display: inline-block;
	position: absolute;
}

.parentBis {
	position: relative;
	display: inline-block;
	float : right;
}

.parentBis a{
	display: inline-block;
}

.parentBis:hover >ul{
	display: inline-block;
	position: absolute;
	left : -200%;
}

div.contextMenu ul{
	list-style: none;
	margin: 0;
	padding: 0px;
	min-width:10em;
	}

/* Careful : if width is changed, the changement must be reported on the function createContextMenuEditor*/
.child {
	display: none;
	background-color: #fff;
	color: #555;
	border: 1px solid #C6C6C6;
	width: 160px;
	box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
	font-family: sans-serif;
	font-size: 11px;
	z-index: 1;
}

.makeItDisappear{
	display: none;
}

.noHover{
    pointer-events: none;
    background-color: #d0d0d0;
}

.selectIdPlugin {
	display: block;
	margin: 0 auto;
	background-color: #a9a9a9;
}

.modalHelp{
	z-index:8000; 
	position: fixed;
	top :100px;
	left : 50%;
	transform: translateX(-50%);
}

.modalCsv{
	z-index:8000; 
	position: fixed;
	top :0px;
	left : 50%;
	transform: translateX(-50%);
	width : 80%;
}
	
.modal-body-help {
    max-height: 200px;
    overflow-y: auto;
}

#modalCsv th, td {
  text-align: center;
}
#modalCsv table, td, th{
	border: 1px solid grey;
	border-collapse: collapse;
	font-family: ubuntu mono;
}
#modalCsv table{
	overflow-x:scroll;
}
  

</style>

<div class = "contextMenu">
	<ul id="contextMenuAceEditor">
		<li id="liContextMenuAceEditor" class="parent">
			<a id="thisNewMenu" class="contextualMenu" data-toggle="modal">
				<div th:text="#{menu.new}"></div>
				<img src="/images/new.gif" alt=""></img>
			</a>
			
			<ul id="newChild" class="child">
				<li id="NewStatementMenu" class="parent noHover">
					<a id="thisNewStatementSubmenu" class="contextualMenu" data-toggle="modal" >
						<div id="thisStatement" value="" th:text="#{submenu.statement}"></div>
					</a>
					<ul id="statementChild" class="child">
						<li>
							<a id="thisStatementSubmenuIf" class="contextualMenu" data-toggle="modal" data-target="#modalFormChooseStatementTest" onclick="initModalAddTest('if')">
								<div id="thisStatementIf" value="" th:text="#{statement.if}"></div>
								<img src="/images/if.gif" alt=""></img>
							</a>
						<li/>
						<li>
							<a id="thisStatementSubmenuWhile" class="contextualMenu" data-toggle="modal" data-target="#modalFormChooseStatementTest" onclick="initModalAddTest('while')">
								<div id="thisStatementWhile" value="" th:text="#{statement.while}"></div>
								<img src="/images/while.gif" alt=""></img>
							</a>
						<li/>
						<li>
							<a id="thisStatementSubmenuPreemptive" class="contextualMenu" data-toggle="modal" data-target="#modalFormChooseStatementTest" onclick="initModalAddTest('preemptive')">
								<div id="thisStatementPreemptive" value="" th:text="#{statement.preemptive}"></div>
								<img src="/images/preemptive.gif" alt=""></img>
							</a>
						<li/>
						<li>
							<a id="thisStatementSubmenuNchoice" class="contextualMenu" data-toggle="modal" onclick="insertChoice()">
								<div id="thisStatementNchoice" value="" th:text="#{statement.nchoice}"></div>
								<img src="/images/nchoice.gif" alt=""></img>
							</a>
						<li/>
					</ul>
				</li>
			
				<li class="parent" id="parentControlSubmenu">
					<a id="thisControlSubmenu" class="contextualMenu" data-toggle="modal" data-target="#modalFormChoosePrimitive" onclick="initModalAddPrimitive2('controls')">
						<div id="thisPlugin" value="" th:text="#{submenu.control}"></div>
						<img src="/images/control.gif" alt=""></img>
					</a>
				</li>
				
				<li class="parent" id="parentTimerSubmenu">
					<a id="thisTimerSubmenu" class="contextualMenu"	data-toggle="modal" data-target="#modalFormChoosePrimitive" onclick="initModalAddPrimitive2('timers')">
						<div id="thisTimer" value="" th:text="#{submenu.timer}"></div>
						<img src="/images/timer.gif" alt=""></img>
					</a>
			
				</li>
		
				<li class="parent" id="parentSampleSubmenu">
					<a id="thisSampleSubmenu" class="contextualMenu" data-toggle="modal" data-target="#modalFormChoosePrimitive" onclick="initModalAddPrimitive2('samples')">
						<div id="thisSample" value="" th:text="#{submenu.sample}"></div>
						<img src="/images/sample.png" alt=""></img>
					</a>
			
				</li>
				
				<li class="parent" id="parentPluginSubmenu">
					<a id="thisPluginSubmenu" class="contextualMenu" data-toggle="modal" data-target="#modalChoosePlugin" onclick="initModalAddPlugin()">
						<div id="thisPlugin" value="" th:text="#{submenu.plugin}"></div>
						<img src="/images/plugins.gif" alt=""></img>
					</a>
				</li>
				
				<li class="parent" id="parentBehaviorSubmenu">
					<a id="thisBehaviorSubmenuInsertBehavior" class="contextualMenu" data-toggle="modal" onclick="insertBehavior()">
						<div id="thisBehaviorInsertBehavior" value="" th:text="#{submenu.behavior}"></div>
						<img src="/images/new_behavior.gif" alt=""></img>
					</a>
				</li>
				
				<li class="parent" id="parentLoadprofileSubmenu">
					<a id="thisBehaviorSubmenuLoadprofile" class="contextualMenu" data-toggle="modal" 
						data-target="#modalFormChooseBehaviorId" onclick="modalLoadprofileId()">
						<div id="thisBehaviorLoadprofile" value="" th:text="#{submenu.loadprofile}"></div>
						<img src="/images/loadprofile.png" alt=""></img>
					</a>
				<li/>
			</ul>
		</li>
		
		<hr />
		<div class="parent">
			<a id="thisFormatMenu" class="contextualMenu" onclick="formatAceEditor()">
				<div id="thisFormat" value="" th:text="#{menu.format}" />
			</a>
			<a id="thisCutMenu" class="contextualMenu" onclick="cutAceMenu()">
				<div id="thisCut" value="" th:text="#{menu.cut}" />
				<img src="/images/cut.gif" alt=""></img>
			</a>
			<a id="thisCopyMenu" class="contextualMenu" onclick="copyAceMenu()">
				<div id="thisCopy" value="" th:text="#{menu.copy}" />
				<img src="/images/copy.gif" alt=""></img>
			</a>
		</div>
		<hr /> 
	</ul>
	
	<!-- Modal choose primitive-->
	<div class="modal fade" id="modalFormChoosePrimitive" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-centered" style="max-width:60%; width:100%" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalPrimitiveTitle"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col">
							<label id="primitivePluginNameLabel" th:text="#{prompt.pluginName}"></label>
						</div>
						<div class="col">
							<label id= "primitivePrimitiveNameLabel" th:text="#{prompt.primitiveName}"></label>
						</div>
						<div class="col">
							<label id="primitivePluginIdLabel" th:text="#{prompt.pluginId}"></label>
						</div>
  					</div>
					<div class="row">
						<div class="col">
							<select id="primitivePluginNameSelect" class="custom-select selectIdPlugin" size="10" onchange="modalPrimitiveChangeOption();">
							</select>
						</div>			
						<div class="col">
							<select id="primitivePrimitiveNameSelect" class="custom-select selectIdPlugin" size="10">
							</select>
						</div>
						<div class="col">
							<select id="primitivePluginIdSelect" class="custom-select selectIdPlugin" size="10">
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="primitiveHelp" class="btn btn-primary mr-auto" data-target="#modalHelp" data-toggle="modal"
						th:text="#{modal.help}" onclick="displayHelpPrimitive()"></button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" th:text="#{form.cancel}"></button>
					<button type="button" id="primitiveValidate"
						class="btn btn-primary" data-dismiss="modal"
						th:text="#{form.validate}"></buéétton>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal choose Plugin-->
	<div class="modal fade" id="modalChoosePlugin" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-centered mw-80 w-75" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalFormChooseStatement"
						th:text="#{submenu.newplugin}"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col">
							<label id="pluginNameLabel" th:text="#{prompt.pluginName}"></label>
						</div>
						<div class="col">
							<label id="pluginIdLabel" th:text="#{prompt.pluginId}"></label>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<select id="pluginNameSelect" class="custom-select selectIdPlugin" size="6" onchange="modalPluginChangeInputId();">
							</select>
						</div>
						<div class="col">
							<input type="text" id="pluginInputId" name="name" value="" required>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary mr-auto" data-target="#modalHelp" data-toggle="modal"
						th:text="#{modal.help}" onclick="displayHelpPlugin()"></button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" th:text="#{form.cancel}"></button>
					<button type="button" id="pluginValidate"
						class="btn btn-primary" data-dismiss="modal"
						th:text="#{form.validate}"></button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal choose Statement-->
	<div class="modal fade" id="modalFormChooseStatementTest" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-centered mw-80 w-75" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalFormChooseStatement"
						th:text="#{submenu.condition}"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col">
							<label id="statementPluginNameLabel" th:text="#{prompt.pluginName}"></label>
						</div>
						<div class="col">
							<label id= "statementTestLabel" th:text="#{prompt.test}"></label>
						</div>
						<div class="col">
							<label id="statementPluginIdLabel" th:text="#{prompt.pluginId}"></label>
						</div>
  					</div>
					<div class="row">
						<div class="col">
							<select id="statementPluginNameSelect" class="custom-select selectIdPlugin" size="10" onchange="modalChangeIdTest();">
							</select>
						</div>
						
						<div class="col">
							<select id="statementTestSelect" class="custom-select selectIdPlugin" size="10">
							</select>
						</div>
						
						<div class="col">
							<select id="statementPluginIdSelect" class="custom-select selectIdPlugin" size="10">

							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="statementHelp" class="btn btn-primary mr-auto" data-target="#modalHelp" data-toggle="modal"
						th:text="#{modal.help}" onclick="displayHelp()"></button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" th:text="#{form.cancel}"></button>
					<button type="button" id="statementValidate"
						class="btn btn-primary" data-dismiss="modal"
						th:text="#{form.validate}"></button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal choose behavior Id-->
	<div class="modal fade" id="modalFormChooseBehaviorId" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="titleChooseBehaviorId"
						th:text="#{submenu.newLoadprofile}"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label id="modalFormChooseBehaviorIdLabel" th:text="#{prompt.behaviorId}"></label>
						<select id="modalFormChooseBehaviorIdSelect" class="custom-select selectIdPlugin" size="4">
  						
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" th:text="#{form.cancel}"></button>
					<button type="button" id="modalFormChooseBehaviorIdValidate"
						class="btn btn-primary" data-dismiss="modal"
						th:text="#{form.validate}"></button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal Help -->
	<div class="fade modalHelp" id="modalHelp" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalHelpTitle"
						></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body-help">
					<div id="textHelp" class="form-group"></div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
	
	<!-- Modal Csv display -->
	<div class="fade modalCsv" id="modalCsv"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document" style="max-width:100%">
			<div id="modalContentCsv" class="modal-content">
				<div id="modalHeaderCsv"class="modal-header">
					<h5 class="modal-title" id="modalCsvTitle">CSV</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div id="modalBodyCsvData" class="modal-body">
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal ElasticSearch replace data-->
	<div class="fade modalCsv" id="modalElasticSearch" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document" style="max-width:100%">
			<div class="modal-content" style="text-align:left">
				<div class="modal-header">
					<h5 class="modal-title" id="modalElasticSearchTitle"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div id="modalBodyElasticSearchChoice" class="modal-body-help">
					<div id="textElasticSearchChoice" class="form-group"></div>
					<div id="contentElasticSearchChoice"></div>
				</div>
				<div id="modalFooterElasticSearch" class="modal-footer">		
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" th:text="#{form.cancel}"></button>
					<button id="elasticSearchConfirm" th:text="#{elasticSearch.confirm}"
						class="btn btn-success" data-dismiss="modal"></button>
				</div>
			</div>
		</div>
	</div>
	
</div>



<style>

.modalPopup{
	display: none;
	background:rgba(0,0,0,.4);
	font-family: sans-serif;
	font-size: 13px;
	color: #555;
    height:100%;
    position:fixed;
    text-align:center;
    top:10;
    width:100%;
    z-index:9000;
    margin: 20px;
    height:100%;
    vertical-align:middle;
}

.helper{
    display:inline-block;
}

.modalPopup >div{
	background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 24px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popupCloseButton:hover {
    background-color: #ccc;
}

</style>

<div id="popup1" class="modalPopup">
	<span id="closePopup1" class="helper" onClick="hidePopup()"></span> 
	<div>
		<div class=popupCloseButton data-dismiss="modal" onClick="hidePopup()">&times;</div>
		<p id="popup1Text"></p>
	</div>
</div>

<style>
.popupFolding {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popupFolding .popupFoldingText {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;

}

/* Toggle this class - hide and show the popup */
.popupFolding .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#popupFoldingText {
  -moz-tab-size: 4; /* Firefox */
  tab-size: 4;
}

</style>


<div id="popupFolding" class="popupFolding">
	<textarea id="popupFoldingText" class="popupFoldingText" spellcheck="false" rows="10" cols="70"> </textarea>
</div>

<div class = "contextMenu">
	<ul id="contextMenuPropertiesEditor">	
		<li id="liProbePropertiesMenu" class="parent">
			<a id="thisProbePropertiesMenu" class="contextualMenu">
				<div id="thisProbeProperties" value="" th:text="#{menu.probe}" />
				<img src="/images/probe.png" alt=""></img>
			</a>
			
			<ul id="probePropertiesChild" class="child">
				
			</ul>
		</li>
		<div class="parent">
			<a id="thisInjectorPropertiesMenu" class="contextualMenu" onclick="handleInsertInjector()">
				<div id="thisInjectorProperties" value="" th:text="#{menu.injector}" />
				<img src="/images/injector.png" alt=""></img>
			</a>
			<a id="thisCutPropertiesMenu" class="contextualMenu" onclick="cutAceMenu()">
				<div id="thisCutProperties" value="" th:text="#{menu.cut}" />
				<img src="/images/cut.gif" alt=""></img>
			</a>
			<a id="thisCopyPropertiesMenu" class="contextualMenu" onclick="copyAceMenu()">
				<div id="thisCopyProperties" value="" th:text="#{menu.copy}" />
				<img src="/images/copy.gif" alt=""></img>
			</a>
		</div>
		<hr /> 
	</ul>
</div>

<script th:inline="javascript">

var filesList= /*[[${files}]]*/ 'default';
var directories= /*[[${directories}]]*/ 'default';
var currentUsername= /*[[${username}]]*/ 'default';
var secutriyEnabled=/*[[${secutriyEnabled}]]*/ 'default';
var permissions = /*[[${permissions}]]*/ 'default';

filesList.sort();
directories.sort();
getAllResources();
getProbeInfo();


for(i in permissions){
	permissions[i] = JSON.parse(permissions[i].replace(/"{/g,"{").replace(/}"/g,"}").replace(/\\/g,""));
}

if(!secutriyEnabled) document.getElementById("propertiesMenu").classList.add("disabledMenu");

//change ulFileTree
fileTreeColor();

var menu = document.getElementById("menu").style;
var contextMenuAceEditor = document.getElementById("contextMenuAceEditor").style;
var contextMenuPropertiesEditor = document.getElementById("contextMenuPropertiesEditor").style;
if (document.addEventListener) {

	document.addEventListener('contextmenu', function(e) {
		menu = document.getElementById("menu").style;
		var clickType = "dir";
		if(isDescendant(document.getElementById("leftPanel"),e.target)){ // activate right click only in file tree
			// modify form to place upload in the right directory
			var clickedElementName = e.target.innerText;
			var tempElement = e.target;
			localCache.set("clickedFile", clickedElementName.substring(1, clickedElementName.length));
			var uri = '';
			if(e.target.tagName.includes("DIV")){ //clicked on a directory
				if(e.target.getAttribute("isdir")==="true"){ // clicked on a directory 
					uri = e.target.parentNode.id;
					clickType = "dir";
				}
				else if (e.target.id == "fileTreeContainer" || e.target.id == "leftPanel"){
					clickType = "other";
				}
				else{	//clicked on a file
					uri = e.target.parentNode.parentNode.parentNode.id;
					clickType = "file";
					var innerText = e.target.innerText;
					if (innerText[0] == " "){
						innerText = innerText.substring(1, innerText.length);
					}
					var extension = innerText.substring(innerText.length-4, innerText.length);
					if (extension == ".xis"){
						clickType = "xisFile";
						localCache.set("clickedXisFile", innerText);
					}
				}
				changeTargetedDir(uri,e.target.parentNode.id);
			}
			else if(e.target.tagName.includes("IMG")){ //clicked on an image
				var parent = e.target.parentNode;
				if(parent.getAttribute("isdir")=="true"){ // clicked on a directory image
					uri = parent.parentNode.id;
					clickType = "dir";
				}
				else{ //clicked on a file image
					clickType = "file";
					uri = parent.parentNode.parentNode.id;
					var innerText = e.target.innerText;
					if (innerText[0] == " "){
						innerText = innerText.substring(1, innerText.length);
					}
					var extension = innerText.substring(innerText.length-4, innerText.length);
					if (extension == ".xis"){
						clickType = "xisFile";
						localCache.set("clickedXisFile", innerText);
					}
				}
				changeTargetedDir(uri,parent.parentNode.id);
			}
			else if(e.target.tagName.includes("LI")){	//clicked on a list marker
				if(e.target.firstElementChild.getAttribute("isdir")=="true"){ // clicked on a directory list marker
					uri = e.target.firstElementChild.id;
					clickType = "dir";
				}
				else{ //clicked on a file list marker
					uri = e.target.parentNode.parentNode.id;
					clickType = "file";
					var innerText = e.target.innerText;
					if (innerText[0] == " "){
						innerText = innerText.substring(1, innerText.length);
					}
					var extension = innerText.substring(innerText.length-4, innerText.length);
					if (extension == ".xis"){
						clickType = "xisFile";
						localCache.set("clickedXisFile", innerText);
					}
				}
				changeTargetedDir(uri,e.target.id);		
			}
			else if(e.target.tagName.includes("UL")){	//clicked left from a list
				clickType = "dir";
				if(e.target.parentNode){
					var uri = e.target.parentNode.id;
					if(uri!="FileTreeContainer"){		// can't upload at root, need to create new project		
						changeTargetedDir(uri,uri);
					}
				}
			}
	    	var posX = e.clientX;
	   		var posY = e.clientY;
	   		createMenu(posX, posY, clickType);
	    	e.preventDefault();		
		}
	else if(isDescendant(document.getElementById("scenarioXML"),e.target)){ // activate right click on editor view
		var posX = e.clientX;
	    var posY = e.clientY;
	    aceContextMenuHandler();
	    createContextMenuAceEditor(posX, posY);
	    e.preventDefault();	
	}
	else if(isDescendant(document.getElementById("testPlanProperties"),e.target)){ // activate right click on editor view
		var posX = e.clientX;
	    var posY = e.clientY;
	    acePropertiesMenuHandler();
	    createPropertiesMenu(posX, posY);
	    e.preventDefault();	
	}
	else{
	    menu.opacity = "0";
	    setTimeout(function() {
	      menu.visibility = "hidden";
	      contextMenuPropertiesEditor.visibility = "hidden";
	      contextMenuAceEditor.visibility = "hidden";
	    }, 10);
	}
 }, false);
 document.addEventListener('click', function(e) {
	    menu.opacity = "0";
	    setTimeout(function() {
	      menu.visibility = "hidden";
	      contextMenuPropertiesEditor.visibility = "hidden";
	      contextMenuAceEditor.visibility = "hidden";
  		 }, 10);
 }, false);
} else {
 document.attachEvent('oncontextmenu', function(e) {
	if(isDescendant(document.getElementById("ulFileTreeContainer"),e.target)){
	    var posX = e.clientX;
	    var posY = e.clientY;
	    createMenu(posX, posY);
	    e.preventDefault();
	}
	else if(isDescendant(document.getElementById("scenarioXML"),e.target)){
		var posX = e.clientX;
	    var posY = e.clientY;
	    createContextMenuAceEditor(posX, posY);
	    e.preventDefault();
	}
	else{
	    menu.opacity = "0";
	    setTimeout(function() {
	      menu.visibility = "hidden";
	      contextMenuAceEditor.visibility = "hidden";
	    }, 10);
	}
 });
 document.attachEvent('onclick', function(e) {
   menu.opacity = "0";
   setTimeout(function() {
     menu.visibility = "hidden";
   }, 10);
 });
}


handler = document.getElementById('handler');
var wrapper = document.getElementById('wrapper');
var boxA = document.getElementById('leftPanel');
var isHandlerDragging = false;

document.addEventListener('mousedown', function(e) {
  // If mousedown event is fired from .handler, toggle flag to true
  if (e.target === handler) {
    isHandlerDragging = true;
  }
});

document.addEventListener('mousemove', function(e) {
  // Don't do anything if dragging flag is false
  if (!isHandlerDragging) {
    return false;
  }

  // Get offset
  var containerOffsetLeft = wrapper.offsetLeft;

  // Get x-coordinate of pointer relative to container
  var pointerRelativeXpos = e.clientX - containerOffsetLeft;
  
  // Arbitrary minimum width set on box A, otherwise its inner content will collapse to width of 0
  var boxAminWidth = 60;

  // Resize box A
  // * 8px is the left/right spacing between .handler and its inner pseudo-element
  // * Set flex-grow to 0 to prevent it from growing
  boxA.style.width = (Math.max(boxAminWidth, pointerRelativeXpos - 8)) + 'px';
  boxA.style.flexGrow = 0;
});

document.addEventListener('mouseup', function(e) {
  // Turn off dragging flag when user mouse is up
  isHandlerDragging = false;
});

document.getElementById("importFileButton").onchange = function(){doUploadFile();}

document.getElementById("projectImportButton").onchange = function(){
	let fileName = document.getElementById("projectImportButton").files[0].name;
	if(fileName.endsWith(".zip")){
		document.getElementById("dropContainer").innerHTML = getLocalizedText("project.selected")+": "+fileName;
		document.getElementById("uploadDroppedFile").removeAttribute("disabled");
	}else{
		document.getElementById("dropContainer").innerHTML = getLocalizedText("project.not.zip");
		document.getElementById("uploadDroppedFile").setAttribute("disabled","true");
	}
	fileToUpload = document.getElementById("projectImportButton").files[0];
}


dropContainer = document.getElementById("dropContainer");
dropContainer.ondragover = dropContainer.ondragenter = function(evt) {
  evt.preventDefault();
};

let fileToUpload;

dropContainer.ondrop = function(evt) {
	evt.preventDefault();
	fileToUpload = evt.dataTransfer.files[0];
	let fileName = fileToUpload.name;
	if(fileName.endsWith(".zip")){
		document.getElementById("dropContainer").innerHTML = getLocalizedText("project.selected")+": "+fileName;
		document.getElementById("uploadDroppedFile").removeAttribute("disabled");
	}else{
		document.getElementById("dropContainer").innerHTML = getLocalizedText("project.not.zip");
		document.getElementById("uploadDroppedFile").setAttribute("disabled","true");
	}
};

</script>